<div class="wrapper contact-wrapper" id= "contact">
  <div class="contact-title">
    <h2 class= "title section-title col-xs-12 text-center"><span>Contact</span></h2>
  </div>
  <div class="container contact-container">
    <div class="contact-content col-xs-12 col-md-4">
      <!-- <div class="contact-img">
        <p>110 rue de la République 42 500 Le Chambon Feugerolles FRANCE</p>
      </div> -->
      <div class="contact-text text-center">
        <p>Pierre-Henri Audouin</p>
        <p>DYNAMIC SIGN</p>
        <p>0549555426 - 0661660324</p>
        <a href="https://www.google.com/maps/place/Dynamic+Sign/@46.504373,0.3582343,17z/" target="_blank">2a rue des entrepreneurs<br>Zone Artisanale<br>Rue de la Croix de la Cadoue<br>86240 Smarves</a>
      </div>
    </div>
    <div class="contact-form col-xs-12 col-md-8">
      <form action="https://www.enformed.io/s50phbvs" method="POST" >
        <div class="form-group">
          <input name="Name" type="text" placeholder="Name*" class="form-control"/>
        </div>
         <div class="form-group">
          <input name="Email" type="text" placeholder="Email*" class="form-control"/>
        </div>
         <div class="form-group">
          <input name="Téléphone" type="text" placeholder="Téléphone" class="form-control"/>
        </div>
         <div class="form-group">
          <textarea name="Message" type="text" placeholder="Message*" class="form-control message"></textarea>
        </div>
        <div class="form-group text-center">
          <input type="hidden" name="*subject" value="Message Site ALL I PACK" />
          <input type="submit" value="Envoyer" id="submit" class="btn btn-danger btn-lg center-block text-center" />
        </div>
      </form>
    </div>
  </div>
</div>



