<div class="footer">
  <div class="footer-links">
    <h3 class="footer-links-title">Actualité:</h3>
  <!-- color: red
  &:hover
    color: blue -->

    <!-- <a class="footer-link" href="http://www.sweely.eu/" target="_blank">Sweely</a>
    <a class="footer-link" href="http://www.acs-pack.fr/" target="_blank">ACS Pack</a> -->
    <div class="font_awesome">
      <span style="font-size: 3em;">
        <a class=" footer-link fa fa-instagram" href="http://www.google.com" target="_blank"></a>
      </span>
      <span style="font-size: 3em;">
        <a class=" footer-link fa fa-facebook" href="http://www.sweely.eu/" target="_blank"></a>
      </span>
    </div>
  </div>
  <div class="footer-content">
    <div class="logo-footer">
      <%= image_tag "dynamic_sign_footer.jpeg", class: 'logo2 center-block' %>
    </div>
    <div class="footer-address">
      <a href="https://www.google.com/maps/place/Dynamic+Sign/@46.504373,0.3582343,17z/" target="_blank">2a rue des entrepreneurs<br>Zone Artisanale<br>Rue de la Croix de la Cadoue<br>86240 Smarves</a>
    </div>
  </div>
  <div class="footer-copyright">
    <a href="#">Mentions légales</i></a>
  </div>
</div>
