<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <a href="#">
   <img class="navbar-brand" href="#" src="https://www.pagesjaunes.fr/media/fcp/09587479-141f9707cb6cb2252f7557f101fbbf7f?w=1500&h=800&crop=false" />
 </a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li clas="navbar-item">
        <a href="#about-me" class="nav-link nav-buttons">A PROPOS</a>
      </li>
      <li clas="navbar-item">
        <a href="#products" class="nav-link">NOS RÉALISATIONS</a>
      </li>
      <li clas="navbar-item">
        <a href="#contact" class="nav-link">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
