/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black: #3a3a3a;
  --white: #fff;
  --blue: #4173b6;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.author-archive {
  scroll-margin-top: 150px !important;
  min-height: 84vh;
  padding: 1.5rem;
}

.container {
  margin-bottom: 110px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem!important;
  margin-top: 1.5rem!important;
}

h2 a {
  transition: all 0.1s;
}

h2 a:hover {
  background: #4173b6;
  color: var(--white);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}


/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 2rem;
  display: grid;
  // grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 2fr);
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: #4173b6;
  color: var(--white);
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.posts .post {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.posts .post-title {
  font-size: 1.3rem;
}

.posts .post-title:hover {
  text-decoration: underline;
}

.posts figcaption {
  padding: 1rem;
}

.posts .post-categories {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

.posts .post-categories * {
  display: inline-block;
}

.posts .post-categories li {
  margin-bottom: 0.2rem;
}

.posts .post-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
}

.posts .post-categories a:hover {
  background: #4173b6;
  color: var(--white);
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="Tous"]:checked ~ .filters [for="Tous"],
[value="Grand_format"]:checked ~ .filters [for="Grand_format"],
[value="PLV"]:checked ~ .filters [for="PLV"],
[value="Goodies"]:checked ~ .filters [for="Goodies"],
[value="Véhicules"]:checked ~ .filters [for="Véhicules"],
[value="Négoce"]:checked ~ .filters [for="Négoce"],
[value="Posters"]:checked ~ .filters [for="Posters"],
[value="Flyers"]:checked ~ .filters [for="Flyers"],
[value="Chantiers"]:checked ~ .filters [for="Chantiers"],
[value="Textiles"]:checked ~ .filters [for="Textiles"],
[value="Divers"]:checked ~ .filters [for="Divers"],
[value="Totems"]:checked ~ .filters [for="Totems"] {
  background: #4173b6;
  color: var(--white);
}

[value="Tous"]:checked ~ .posts [data-category] {
  display: block;
}

[value="Grand_format"]:checked ~ .posts .post:not([data-category~="Grand_format"]),
[value="PLV"]:checked ~ .posts .post:not([data-category~="PLV"]),
[value="Goodies"]:checked ~ .posts .post:not([data-category~="Goodies"]),
[value="Véhicules"]:checked ~ .posts .post:not([data-category~="Véhicules"]),
[value="Négoce"]:checked ~ .posts .post:not([data-category~="Négoce"]),
[value="Posters"]:checked ~ .posts .post:not([data-category~="Posters"]),
[value="Flyers"]:checked ~ .posts .post:not([data-category~="Flyers"]),
[value="Chantiers"]:checked ~ .posts .post:not([data-category~="Chantiers"]),
[value="Textiles"]:checked ~ .posts .post:not([data-category~="Textiles"]),
[value="Divers"]:checked ~ .posts .post:not([data-category~="Divers"]),
[value="Totems"]:checked ~ .posts .post:not([data-category~="Totems"]) {
  display: none;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  padding: 0 1.5rem;
  text-align: right;
}

footer span {
  color: #e31b23;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
